{
  "presets":
  [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": ["last 2 versions"]
        },
        "debug": true
      }
    ],
    "@babel/preset-typescript"
  ],
  "plugins": ["@babel/transform-runtime"]
}
